trigger:
  branches:
    include:
      - main
      - release/*
pr:
  branches:
    include:
      - main
      - release/*

variables:
  IMAGE_NAME: "infraops-demo-app"
  DOCKER_FILE: "app/Dockerfile"
  REGISTRY_PREFIX: "local"

pool:
  name: "local pool"
  # vmImage: "ubuntu-latest"

steps:
- checkout: self

# Python setup + lint + tests
- task: UsePythonVersion@0
  displayName: "Use Python 3.11"
  inputs:
    versionSpec: "3.11"

- script: |
    python -m pip install --upgrade pip
    pip install -r app/requirements.txt
    pip install flake8 pytest
  displayName: "Install dependencies, flake8, and pytest"

- script: |
    flake8 app
  displayName: "Run flake8 on app/"

- script: |
    echo "Default working directory: %CD%"
    echo "System.DefaultWorkingDirectory: $(System.DefaultWorkingDirectory)"

    REM Add repository root to PYTHONPATH so the 'app' package can be resolved
    set PYTHONPATH=$(System.DefaultWorkingDirectory)

    echo "PYTHONPATH: %PYTHONPATH%"

    python -m pytest -q
  displayName: "Run pytest"

# Build Docker image
- script: |
    echo Compute image tag from commit...

    REM Use Azure DevOps built-in environment variable BUILD_SOURCEVERSION
    set IMAGE_TAG=%BUILD_SOURCEVERSION%
    echo IMAGE_TAG=%IMAGE_TAG%

    REM $(REGISTRY_PREFIX) and $(IMAGE_NAME) are expanded by Azure DevOps
    set IMAGE_FULL_NAME=$(REGISTRY_PREFIX)/$(IMAGE_NAME):%IMAGE_TAG%
    echo IMAGE_FULL_NAME=%IMAGE_FULL_NAME%

    echo Building image: %IMAGE_FULL_NAME%
    docker build -t %IMAGE_FULL_NAME% -f $(DOCKER_FILE) app

    echo %IMAGE_FULL_NAME%>image.txt
  displayName: "Build Docker image (no push)"

- task: PublishBuildArtifacts@1
  displayName: "Publish image info artifact"
  inputs:
    PathtoPublish: "image.txt"
    ArtifactName: "image-info"
    publishLocation: "Container"
