trigger: none   #build pipeline

resources:
  pipelines:
  - pipeline: build
    source: azure-infraops-demo-build
    trigger:
      branches:
        include:
          - main
          - release/*

pool:
  name: "local pool"   

stages:
- stage: Dev
  displayName: "Deploy to DEV"
  jobs:
  - job: DeployDev
    displayName: "DEV Deploy"
    steps:
    - checkout: self

    - download: build
      artifact: image-info
      displayName: "Download image-info from triggering build"

    - script: |
        echo Kube context:
        kubectl config current-context
        kubectl get nodes
      displayName: "Verify Kubernetes context"

    - script: |
        echo Image from build artifact:
        type "$(Pipeline.Workspace)\build\image-info\image.txt"
      displayName: "Show image from build artifact"

    - script: |
        echo Deploy app (DEV)...
        kubectl apply -f k8s/namespace.yaml
        kubectl apply -f k8s/service.yaml
        kubectl apply -f k8s/hpa.yaml
        kubectl apply -f k8s/deployment.yaml

        kubectl rollout status deployment/app-deployment -n app --timeout=180s
        kubectl get pods -n app
        kubectl get svc -n app
      displayName: "Deploy manifests to DEV"

- stage: UAT
  displayName: "Deploy to UAT"
  dependsOn: Dev
  condition: succeeded()
  jobs:
  - job: DeployUAT
    displayName: "UAT Deploy"
    steps:
    - checkout: self

    - script: |
        echo Create/ensure namespace uat...
        kubectl create namespace uat --dry-run=client -o yaml | kubectl apply -f -

        echo Deploy app (UAT)...
        kubectl apply -n uat -f k8s/service.yaml
        kubectl apply -n uat -f k8s/hpa.yaml
        kubectl apply -n uat -f k8s/deployment.yaml

        kubectl rollout status deployment/app-deployment -n uat --timeout=180s
        kubectl get pods -n uat
      displayName: "Deploy manifests to UAT"

- stage: Prod
  displayName: "Deploy to PROD (Approval Required)"
  dependsOn: UAT
  condition: succeeded()
  jobs:
  - deployment: DeployProd
    displayName: "PROD Deploy"
    environment: "prod"   #  Environments-Approval
    strategy:
      runOnce:
        deploy:
          steps:
          - checkout: self

          - script: |
              echo Create/ensure namespace prod...
              kubectl create namespace prod --dry-run=client -o yaml | kubectl apply -f -

              echo Deploy app (PROD)...
              kubectl apply -n prod -f k8s/service.yaml
              kubectl apply -n prod -f k8s/hpa.yaml
              kubectl apply -n prod -f k8s/deployment.yaml

              kubectl rollout status deployment/app-deployment -n prod --timeout=180s
              kubectl get pods -n prod
            displayName: "Deploy manifests to PROD"
