---
- name: Generate kubeconfig for AKS
  hosts: "{{ target_env | default('dev') }}"
  gather_facts: false

  vars:
    prefix: "infraops-demo"
    location: "westeurope"
    environment: "{{ hostvars[inventory_hostname].environment | default('dev') }}"
    kubeconfig_path: "{{ lookup('env', 'HOME') + '/.kube/config' }}"

  tasks:
    - name: Get RG and AKS names from Terraform output
      ansible.builtin.shell: |
        terraform output -raw resource_group_name
      args:
        chdir: "{{ playbook_dir }}/../../terraform"
      register: rg_name

    - name: Get AKS name from Terraform output
      ansible.builtin.shell: |
        terraform output -raw aks_name
      args:
        chdir: "{{ playbook_dir }}/../../terraform"
      register: aks_name

    - name: Show AKS and RG
      ansible.builtin.debug:
        msg: "RG={{ rg_name.stdout }}, AKS={{ aks_name.stdout }}"

    - name: Get AKS credentials (merge into kubeconfig)
      ansible.builtin.shell: >
        az aks get-credentials
        --resource-group {{ rg_name.stdout }}
        --name {{ aks_name.stdout }}
        --overwrite-existing
      environment:
        KUBECONFIG: "{{ kubeconfig_path }}"
